{
    "clientId": "superId123",
    "clientSecret": "supersecret",
    "userAgent": "reddit-clip-mirror /u/asd",
    "username": "asd123",
    "password": "asd123",
    "streambleEmail": "asd@gmail.com",
    "streamblePassword": "asd123"
}